body {
    background: #333;
}

.box {
    background: #fff;
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: myanimation;
    animation-duration: 4s; /* time keyframe di tu 0 -> 100% */
    animation-iteration-count: 3; /* so lan thuc hien animation,  infinite -> forever*/
    animation-delay: 2s; /* doi 2s roi moi thuc hien animation */
    animation-direction: reverse; /* thuc thi animation theo huong ngc lai */
    animation-direction: alternate; /* vong qua, vong lai */



    /* Gia chuyen dong */
    /* animation-timing-function: linear;
    animation-timing-function: ease-in;
    animation-timing-function: ease-out;
    animation-timing-function: ease-in-out; */

    
}

@keyframes myanimation {
    0% { background-color: #fff; left: 0px; top: 0; border-radius: 0 0 0 0; }
    25% { background-color: red; left: 300px; top: 0; border-radius: 50% 0 0 0; }
    50% { background-color: green; left: 300px; top: 300px; border-radius: 50% 50% 0 0;}
    75% { background-color: blue; left: 0; top: 300px; border-radius: 50% 50% 50% 0;}
    100% { background-color: #fff; left: 0; top: 0; border-radius: 50% 50% 50% 50%;}
}




